* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

section {
    background-color: lightblue;
    width: 100%;
}

.team {
    height: 500px;
}

.team-member {
    background-color: green;
    height: 300px;
}

.photo {
    height: 150px;
    width: 100%;
    background-color: red;
}